{% extends "base.html" %}
{% block content %}

<div class="content_wrapper" id="app">
	<div v-if="infos.city">
		<h1>
			Weather-System
			<div class="date"></div>
		</h1>

		<form class="" method="GET">
			<input class="form-control" name="city" required>
			<button class="" type="submit">Submit</button>

		</form><br>

		<div class="weather_card">
			<div class="weather_card_img" :style="{backgroundImage: }">
				<div class="weather_card_state">
					<span class="material-icons">
						
						<img src="http://openweathermap.org/img/wn/{{data.icon}}.png">
                         
					</span>
				</div>
			</div>

			<div class="weather_card_infos">
				<div class="weather_card_infos_title">
					 {{data.city}}<br>
                     {{data.description}}
				</div>
				<div class="weather_card_infos_temp">
					{{data.celcius_temprature}}°C / {{data.kelvin_temprature}} °K
				</div>
				<div class="bottom">
					<hr>
					<div class="weather_card_infos_bottom">
                         humidity: {{data.humidity}} - pressure: {{data.pressure}} pa
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}